/* body {
    background-color: #001731;
} */

h2 {
    /* font-size: 3.6rem; */
    line-height: 1.25;
    letter-spacing: -.1rem;
    margin-bottom: 0px;
    margin-top: 1rem;
}

/* ul {
    width: 620px;
    margin: 0 auto;

    li {
        float: left;
        list-style: none;
        margin-right: 10px;
        position: relative;

        a {
            font: 700 15px Open Sans;
            text-transform: uppercase;
            position: relative;
            color: #333333;
            text-decoration: none;
            border: 3px solid #000000;
            letter-spacing: 1px;
            padding: 10px 15px 10px 25px;
            display: block;
            width: 150px;
            z-index: 5000;

            i {
                font-size: 12px !important;
                position: absolute;
                right: 10px;
                top: 14px;
            }
        }

        .drop-down {
            position: absolute;
            padding: 0;
            display: none;
            margin: 0;
            left: 0;
            z-index: 0;

            li {
                position: relative;
                float: none;

                a {
                    border-top: none;
                    width: 150px;

                    &:hover {
                        background: #000000;
                        color: #ffffff;
                    }
                }
            }

            li:nth-of-type(1) a {
                border-top: none;
            }
        }
    }
} */

#mainContainer {
    display: "flex";
    flex-direction: "column";

}

.pretty_container {
    border-radius: 5px;
    background-color: #F9F9F9;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}



#symbol-dropdown {
    /* background-color: green; */
    color: black;
    border-radius: inherit;
    text-align: center;
    display: flex;
    padding: 0.5em 5em;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background-color: inherit;
}

/* .horizontal_dropdowns {
    color: '#7FDBFF';
    width: '40%';
    /* vertical-align: "middle"; */
}

*/